@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

.NavContainer {
  padding: 10px;
  position: fixed;
  top: 0;
  background: var(--background-gradient);
  max-width: 100%;
  width: 100vw;
  height: 100px;
  z-index: 1000;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-visible {
  transform: translateY(0);
}

.navbar-hidden {
  transform: translateY(-100%);
}

/* @keyframes colorTransition {
  0% {
    color: var(--text1);
  }
  12.5% {
    color: var(--text2);
  }
  25% {
    color: var(--text3);
  }
  37.5% {
    color: var(--text4);
  }
  50% {
    color: var(--text5);
  }
  62.5% {
    color: var(--text6);
  }
  75% {
    color: var(--text7);
  }
  87.5% {
    color: var(--text8);
  }
  100% {
    color: var(--text1);
  }
} */

.text1 {
  margin: 10px 0px 0px 10px;
  padding: 20px;
  color: var(--text1);
  font-size: 2.5rem;
  font-family: "Cedarville Cursive";
  display: flex;
  text-align: right;
  font-weight: 700;
  /* animation: colorTransition ease 3s infinite; */
}

.text1 span {
    background: linear-gradient(270deg, var(--text1), var(--text8));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.picture {
  display: flex;
}

.last {
  margin: 9px 0px 0px 0px;
  display: flex;
  justify-content: right;
  width: 30vw;
}

#pic {
  position: relative;
  z-index: 1;
}

.btn {
  background: transparent;
  font-size: 1.5rem;
  color: #ffffff;
  border-radius: 90px;
}

.btn:hover {
  transform: scale(1.15);
  background: var(--button);
}

.btn:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

.mobileMenuBtn {
  display: none;
  background: none;
  border: none;
  color: var(--text1);
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0px 0px 0px 130px;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 0;
    background: var(--background-gradient);
    width: 100%;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
  }

  .menu.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .mobileMenuBtn {
    display: block;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobileMenuBtn:active {
    transform: scale(0.95);
  }

  .text1 {
    font-size: 1.5rem;
  }

  .btn {
    color: #fff;
    font-size: 1rem;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn:hover {
    transform: translateX(10px);
    background: var(--button);
  }

  .last {
    display: none;
  }
}
